In [ ]:
import pandas as pd
df = pd.read_csv('C:/Users/Dell/Downloads/Salary.csv')

print(df.head())

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   70000    Finance
3    Diana   40   80000         IT

In [ ]:
# Filtering the data
Sal = df[df['Salary'] > 60000]
print(Sal)

      Name  Age  Salary Department
2  Charlie   35   70000    Finance
3    Diana   40   80000         IT

In [ ]:
Result = df[(df['Department'] == 'IT') & (df['Age'] > 30)]
print(Result)

    Name  Age  Salary Department
3  Diana   40   80000         IT

In [ ]:
sorted_sal = df.sort_values(by='Salary')
print(sorted_sal)

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   70000    Finance
3    Diana   40   80000         IT

In [ ]:
## Group by 'Department' and calculate the sum of 'Salary'
grouped_sum = df.groupby('Department')['Salary'].sum()
print(grouped_sum)

Department
Finance     70000
HR          50000
IT         140000
Name: Salary, dtype: int64